pipeline/pl_convert_week_csv_to_parquet.json
{
	"name": "pl_convert_week_csv_to_parquet",
	"properties": {
		"activities": [
			{
				"name": "GM_ListYears",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_path",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": "@pipeline().parameters.p_inRoot"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_Years",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GM_ListYears",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_ListYears').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startsWith(item().name, 'year=')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_Years",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Years').output.value\n",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "GM_ListFilesInYear",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "SetYearFolder",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_path",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": {
											"value": "@concat(\n  pipeline().parameters.p_inRoot,\n  '/',\n  variables('v_yearFolder')\n)",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "Filter_WeekCsv",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "GM_ListFilesInYear",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('GM_ListFilesInYear').output.childItems",
									"type": "Expression"
								},
								"condition": {
									"value": "@and(   startsWith(item().name, 'export_week_'),   endsWith(item().name, '.csv') )",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetYearFolder",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_yearFolder",
								"value": "@item().name\n"
							}
						}
					]
				}
			},
			{
				"name": "FE_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FE_Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_WeekCsv').output.value\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GM_TargetExists",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_file",
									"type": "DatasetReference",
									"parameters": {
										"FolderPath": "@concat(pipeline().parameters.p_outRoot, '/', items('FE_Years').name)",
										"FileName": "@replace(item().name, '.csv', '.parquet')"
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							}
						},
						{
							"name": "IF_ConvertNeeded",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "GM_TargetExists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n  pipeline().parameters.p_overwrite,\n  not(activity('GM_TargetExists').output.exists)\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "DF_ConvertOne",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "df_fix_csv_to_parquet_week",
												"type": "DataFlowReference",
												"parameters": {
													"p_outFolder": {
														"value": "'@{replace(item().name, '.csv', '.parquet')}'",
														"type": "Expression"
													},
													"p_outFile": {
														"value": "'@{replace(item().name, '.csv', '.parquet')\n}'",
														"type": "Expression"
													},
													"p_inFolder": {
														"value": "'@{concat(\n  pipeline().parameters.p_inRoot,\n  '/',\n  variables('v_yearFolder')\n)}'",
														"type": "Expression"
													},
													"p_inFile": {
														"value": "'@{item().name}'",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"FolderPath": "$p_inFolder",
														"FileName": "$p_inFile"
													},
													"sink1": {
														"FolderPath": "$p_outFolder"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_inRoot": {
				"type": "string",
				"defaultValue": "staging/StatistiekenCSV"
			},
			"p_outRoot": {
				"type": "string",
				"defaultValue": "staging/final"
			},
			"p_overwrite": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"v_yearFolder": {
				"type": "String"
			}
		},
		"annotations": []
	}
}