pipeline/pl_convert_week_csv_to_parquet.json
{
	"name": "pl_convert_week_csv_to_parquet",
	"properties": {
		"activities": [
			{
				"name": "GM_ListYears",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_path",
						"type": "DatasetReference",
						"parameters": {
							"FolderPath": {
								"value": "@pipeline().parameters.p_inRoot",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter_Years",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GM_ListYears",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_ListYears').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startsWith(item().name, 'year=')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_Years",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter_Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter_Years').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "df_fix_csv_to_parquet_week",
									"type": "DataFlowReference",
									"parameters": {
										"p_year_folder": {
											"value": "'@{item().name}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_inRoot": {
				"type": "string",
				"defaultValue": "staging/StatistiekenCSV"
			},
			"p_outRoot": {
				"type": "string",
				"defaultValue": "final/Statistieken"
			},
			"p_overwrite": {
				"type": "bool",
				"defaultValue": false
			}
		},
		"variables": {
			"v_yearFolder": {
				"type": "String"
			},
			"v_allFiles": {
				"type": "String"
			}
		},
		"annotations": []
	}
}